.container
{
    max-width: 80%;
    background-color: rgb(254, 6, 2);
    margin: auto;
    padding: 4px;
}
.container h3,p{
    text-align: center;
}
.btn{
    color: white;
    background: rgb(253, 0, 0);
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
input,textarea{
    font-size: 25px;
    width: 80%;
    margin: 11px;
    padding: 7px;
}